# Cordova
/platforms
/plugins
/node_modules

GoogleService-Info.plist
GoogleService-Info.plist.*
google-services.json
google-services.json.*
android.keystore
app-release.apk
app-release.apk.idsig
www
.vscode/settings.json
