# Cordova
/platforms
/plugins
/node_modules

GoogleService-Info.plist
GoogleService-Info.plist.*
google-services.json
google-services.json.*
android.keystore
android_associacao_pb.keystore
app-release.apk
app-release.apk.idsig
www
.vscode/settings.json
assign.sh
